{
  "plugins": [
    "babel-plugin-styled-components",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread"
  ],
  "presets": [
    "env",
    "flow",
    "react"
  ]
}
