{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "syntax": "scss",
  "rules": {
    "value-keyword-case": ["lower", { "ignoreKeywords": ["dummyValue"] }]
  }
}
